# create our first pipeline to build the project

name: Mechanic Shop API CI/CD

on:
  push:
    branches: [ main, master ] # Setting on Push to main branch, run our job

jobs:
  # The things we want to happen on pus
  build:
    runs-on: ubuntu-latest
      # This specifies the type of machine that will run the job. The job will run on a machine with Ubuntu as the operating system.
      # Ubuntu is a widely used linux distribution that is heavily support and has alot of prebuilt Github action

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.13 # setting up python on our build environment adding comment

    - name: Create virtual environment
      run: |
        python -m venv venv
        source venv/bin/activate

    - name: Install our dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements.txt

    - name: Print debugging information
      run: |
        echo "Python Version: $(python --version)"

        echo "Working Directory: $(pwd)"

        echo "Contents of Working Directory: $(ls -l)"

        echo "Contents of site-packages: $(ls -l venv/lib/python*/site-packages)"

  #create our first pipeline to test project

  test:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.13

    - name: Create virtual environment
      run: |
        python -m venv venv
        source venv/bin/activate

    - name: Install our dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements.txt

    - name: Run tests
      run: python -m unittest discover -s tests -p 'test_*.py'

  # create our first pipeline to deploye project

  deploy:
    needs: test
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.13

    - name: Create virtual environment
      run: |
        python -m venv venv
        source venv/bin/activate

    - name: Install our dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements.txt

    - name: Deploy to production
      uses: johnbeynon/render-deploy-action@v0.0.8 ## The GitHub Action johnbeynon/render-deploy-action@v0.0.8 is used to trigger a deployment on Render from your GitHub Actions workflow.
      with:
        service-id: ${{secrets.SERVICE_ID}}
          ## This action sends a deployment request to a Render service (like a web service or background worker) using a Render deploy hook URL.
          ## The Render deploy hook URL, which you get from your Render dashboard under your service's "Deploy Hooks" settings.
        api-key: ${{secrets.RENDER_API_KEY}}
